input.ng-invalid.ng-touched{
  border: 1px solid tomato;
}
input.ng-valid.ng-touched{
  border-bottom: 3px solid rgb(74, 255, 28);
}
.caja{
  border: 1px solid rgb(147, 232, 247);
  padding: 2rem;
}
.error{
  padding-top: 1rem;
  color:rgb(255, 0, 0);
  font-size: 80%;
  margin: 0 auto;
}
.titulo-formulario{
  padding:2rem 0;
}
.aside-contenedor{
  padding-top: 8rem;
  width: 80%;
}
.aside-contenido{
  background-color:  rgb(147, 232, 247) ;
  padding: 2rem;
}
.titulo-aside{
  padding-bottom: 1rem;
}
.precio-aside{
  padding-top: 4rem;
  font-size: x-large;
  font-weight: 700;
}
.textos-carrito{
  padding-top: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.texto-carrito{
  font-size: small;
}
.texto-carrito-mayus{
  font-weight: 500;
}
.boton-comprar{
  width: 100%;
  color: white;
  font-weight: 600;
  border: 1px solid rgb(233, 55, 85);
  background-color: rgb(233, 55, 85);
}
.boton-comprar:hover{
  border: 1px solid rgb(83, 27, 236);
  background-color: rgb(83, 27, 236);
}
.contenedor-tarjeta{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.div-izquierdo{
  width: 100%;
}
.div-derecho{
  width: 100%;
}

