
.botones-carrito{
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(233, 55, 85);
  background-color: rgb(233, 55, 85);
}
.botones-carrito:hover{
  border: 1px solid rgb(83, 27, 236);
  background-color: rgb(83, 27, 236);
}
.input-carrito{
  width: 3rem;
  text-align: center;
}
.btn-eliminar{
  margin-left: 2rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.aside-contenedor{
  margin: 2rem;
  padding: 2rem;
}
.aside-contenido{
  background-color:  rgb(255, 199, 207) ;
  padding: 2rem;
}
.titulo-aside{
  padding-bottom: 1rem;
}
.precio-aside{
  padding-top: 4rem;
  font-size: x-large;
  font-weight: 700;
}
.textos-carrito{
  padding-top: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.texto-carrito{
  font-size: small;
}
.texto-carrito-mayus{
  font-weight: 500;
}
.boton-tramitar{
  width: 100%;
  border: 1px solid rgb(233, 55, 85);
  background-color: rgb(233, 55, 85);
}
.boton-tramitar:hover{
  border: 1px solid rgb(83, 27, 236);
  background-color: rgb(83, 27, 236);
}
